page-login {
    .item{
        margin-bottom: 5px;
    }
    .item-ios{
        background: transparent;
    }
    .label-ios[stacked] {
        margin-bottom: 4px; 
         font-size: 17px; 
    }
    .item-input ion-input, .item-input ion-textarea {
        position: static;
        background: white;
    }
}
