<ion-header>

  <ion-navbar>
    <ion-title *ngIf="profileUser">{{profileUser.displayName}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="profileUser">
    <img style="width: 100%; height: 300px" src="{{profileUser.photoURL}}" />
    <button (click)="messagePage()" tappable ion-button clear>Message</button>
    <ion-item-group>
      <ion-item-divider>Photos</ion-item-divider>
      <button  (click)="viewImagesPage()"  ion-item>
        <ion-row>
          <ion-col *ngFor="let pic of pics" col-3>
            <ion-thumbnail>
              <img src="{{pic.downloadURL}}" />
            </ion-thumbnail>
          </ion-col>
        </ion-row>
      </button>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>Personal</ion-item-divider>
      <ion-item *ngIf="profileUser.displayName">
        Full Name <span class="profile-item">{{profileUser.displayName}}</span>
      </ion-item>
      <ion-item *ngIf="profileUser.gender">
        Gender <span class="profile-item">{{profileUser.gender}}</span>
      </ion-item>
      <ion-item *ngIf="profileUser.relationship">
        Relationship <span class="profile-item">{{profileUser.relationship}}</span>
      </ion-item>
      <ion-item *ngIf="profileUser.birthday">
        Birthday <span class="profile-item">{{profileUser.birthday}}</span>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>Work</ion-item-divider>
      <ion-item *ngIf="profileUser.income">
        Income <span class="profile-item">{{profileUser.income}}</span>
      </ion-item>
      <ion-item *ngIf="profileUser.education">
        Education <span class="profile-item">{{profileUser.education}}</span>
      </ion-item>
      <ion-item *ngIf="profileUser.job">
        Job <span class="profile-item">{{profileUser.job}}</span>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>Social</ion-item-divider>
      <button (click)="showIAB('https://www.facebook.com/' + profileUser.facebook)" ion-item *ngIf="profileUser.facebook">
        Facebook <span class="profile-item">{{profileUser.facebook}}</span>
      </button>
      <button (click)="showIAB('https://www.instagram.com/' + profileUser.instagram)" ion-item *ngIf="profileUser.instagram">
        Instagram <span class="profile-item">{{profileUser.instagram}}</span>
      </button>
      <button (click)="showIAB('https://www.snapchat.com/add/' + profileUser.snapchat)" ion-item *ngIf="profileUser.snapchat">
        Snapchat <span class="profile-item">{{profileUser.snapchat}}</span>
      </button>
      <button ion-item (click)="showIAB('https://www.twitter.com/' + profileUser.twitter)" *ngIf="profileUser.twitter">
        Twitter <span class="profile-item">{{profileUser.twitter}}</span>
      </button>
      <button ion-item (click)="showIAB('https://www.linkedin.com/in/' + profileUser.linkedin)" *ngIf="profileUser.linkedin">
        Linkedin <span class="profile-item">{{profileUser.linkedin}}</span>
      </button>
    </ion-item-group>
  </div>
</ion-content>