<ion-header>

  <ion-navbar>
    <ion-title *ngIf="profileUser">{{profileUser.displayName}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="profileUser">
    <img style="width: 100%; height: 300px" src="{{profileUser.photoURL}}" />

    <ion-list>
      <button ion-item>
        <p item-start>Photos</p>
        <ion-row>
          <ion-col *ngFor="let pic of pics" col-3>
            <ion-thumbnail>
              <img src="{{pic.downloadURL}}" />
            </ion-thumbnail>
          </ion-col>
        </ion-row>
      </button>
    </ion-list>
  </div>
</ion-content>