page-view-profile {
    .list-ios {
         margin: 0px; 
    }
    .profile-item{
        float: right;
        font-weight: lighter;
    }
    .item-ios [item-left], .item-ios [item-start] {
        margin: 8px 16px 8px 0;
        min-width: 78px;
    }
    .item-md [item-left], .item-md [item-start] {
        margin: 8px 16px 8px 0;
        min-width: 78px;
    }
}
