page-welcome {
 
    ion-slides{
        height: 300px;
    }
    ion-content{
        background-color: #510085 !important;
    }
    .swiper-pagination-bullet-active {
        background: #555237;
    }
}
